.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.citationImg { 
    grid-area: 1 / 1 / 7 / 6; 
    }
.citation { 
    grid-area: 5 / 1 / 6 / 6; 
    position: relative;
    text-align:top;
    margin-top: -30px;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    color: white;    
    
    }

.div3 { 
    grid-area: 7 / 3 / 12 / 6; 
    
}

.div4 { 
    margin-top: -600px;
    
    
}


h1{
    font-size:50px
}


.petitTitre{
    font-size: 35px;
}

.expression{
    font-size: 35px;
}

.image {
    
    width: 520px;
}



.parent2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    



.div1 { grid-area: 3 / 1 / 7 / 6; 


}
.div2 { grid-area: 1 / 10 / 7 / 6; 
    margin-top: 300px;

}

.image2{
    width: 520px;

}
