.menu-bar {
    background-color: white;
    margin-top: -5px;
    text-align: center;
    display:flex;
}
.menu-bar ul {
    display: flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-size: 1.2em;
}
.sub-menu-1 {
    display: none;
    z-index: 11;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #fff ;
    margin-top: 15px;
    margin-left: -40px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px; 
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    text-align: left;
    width: 150px;
    padding: 10px;
    border-radius: 0;
    background: transparent;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none ;
}



.navbar li:after,
.navbar li:before {
  content: "";
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}

.navbar li:after {
  bottom: 25%;
  left: 0;
}

.navbar li:before {
  top: 25%;
  right: 0;
}

.navbar li:hover::after {
  width: 7em;
  height: 1px;
  bottom: 25%;
  background-color: black;
}

.navbar li:hover::before {
  width: 7em;
  height: 1px;
  top: 25%;
  background-color: black;
} 

button {
    margin-top: 5rem;
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #067790;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48 {
    margin-top: 20rem;
    margin-left: 15rem;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}


@media screen and (max-width:1000px){
    .container{
        height: auto;
    }
    .menu-bar{
        text-align: left;
        width: 100%;
    }

    .navbar {
        width: 100%;
    }
    .nav .sub-menu-1 ul{
        justify-content: space-around;
    }

    .nav .sub-menu-1 ul li{
        width: 20%;
        padding: 10px 0px;
        text-align: center;
        font-size: 16px;
    }
}





/* FOOTER */

.footer-dark {
    padding:50px 0;
    color: #fff;
    background-color:#067790;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px #A6A6A6;
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

.footer-dark {
    padding:50px 0;
    color: #fff;
    background-color:#067790;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px #A6A6A6;
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }


  *{
      padding: 0;
      margin: 0;
  }

  body{
      overflow-x: hidden;
      font-family: 'Be Vietnam Pro', sans-serif;
  }

  .section-containerprog{
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var (--bs-gutter-y) * -1);
      margin-right: calc(var (--bs-gutter-x) * -2);
      margin-left: calc(var (--bs-gutter-x) * -2);
  }

  .section-containerprog .columns{
      flex: 0 0 auto;
      width: 50%;
  }
  .section-containerprog .columns.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-containerprog .columns.content .content-container{
    padding: 40px 50px;
}
.section-containerprog .columns.content .content-container h5{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.section-containerprog .columns.content .content-container p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 15px;
    text-align: justify;
    font-family: 'Be Vietnam Pro', sans-serif;
}


@media screen and (max-width:767px) {
    .section-containerprog{
        flex-wrap: row wrap;
    }
    .section-containerprog .columns.image{
        display: block;
        order: 2;
        width: 100%;
        height: 250px;
    }
    .section-containerprog .columns.content{
        display: block;
        order: 2;
        width:100%;
    }
    .section-containerprog .columns.content .content-container h5{
        margin-bottom: 5px;
    }
}

.button-48 {
    margin-top: 5rem;
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #067790;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48{
    border: solid 1px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
}