body {
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  body p{
    font-size:18px;
  }

h1,
h2,
h3,
h4 {
  font-family: 'Be Vietnam Pro', sans-serif;
  
}


  .citation {
    font-family: 'Indie Flower', cursive;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-bar ul .logo {
  width: 10%;
}


.menu-bar {
    background-color: white;
    margin-top: -5px;
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2em;
}
.sub-menu-1 {
    display: none;
    z-index:11;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #fff ;
    margin-top: 15px;
    margin-left: -40px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px; 
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    text-align: left;
    width: 150px;
    padding: 10px;
    border-radius: 0;
    background: transparent;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none ;
}



.navbar li:after,
.navbar li:before {
  content: "";
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}

.navbar li:after {
  bottom: 25%;
  left: 0;
}

.navbar li:before {
  top: 25%;
  right: 0;
}

.navbar li:hover::after {
  width: 7em;
  height: 1px;
  bottom: 25%;
  background-color: black;
}

.navbar li:hover::before {
  width: 7em;
  height: 1px;
  top: 25%;
  background-color: black;
} 

button {
    margin-top: 5rem;
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #067790;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48 {
    margin-top: 20rem;
    margin-left: 15rem;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}


.imagefond img{
  width: 100%;
 

}

.citationImg{
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
  color: white;
  margin: 0 auto;
  font-size:60px;
  font-family: 'Indie Flower', cursive;
  


}

.auteur{
  font-size:10px;
  position: absolute;
  text-align: center;
  top: 90%;
  width: 100%;
  color: white;
  margin: 0 auto;
  font-size:30px;
  font-family: 'Be Vietnam Pro', sans-serif;

  
}





/* CSS CART */

/* Icon set - http://ionicons.com */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
figure.snip1249 {
  font-family: 'Be Vietnam Pro', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #1a1a1a;
  color: #ffffff;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 5%;
}
.oui{
    display: flex;
    justify-content: space-evenly;


}
figure.snip1249 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip1249 .image {
  position: relative;
}
figure.snip1249 img {
  max-width: 100%;
  vertical-align: top;
  height:242.1px;
}
figure.snip1249 i {
  position: absolute;
  top: 7px;
  left: 12px;
  font-size: 32px;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
figure.snip1249 h3 {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}


figure.snip1249:before {
  background-color: #067790;
  -webkit-transform: skew(-45deg) translateX(-150%);
  transform: skew(-45deg) translateX(-150%);
  border-right: 1px solid #067790;
}
figure.snip1249:after {
  background-color: #DFB708;
  -webkit-transform: skew(-45deg) translateX(-175%);
  transform: skew(-45deg) translateX(-175%);
  border-right: 1px solid #DFB708;
}
figure.snip1249 figcaption {
  padding: 25px 80px 25px 25px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  font-size: 0.9em;
  min-height: 300px

}
figure.snip1249 figcaption p {
  margin-bottom: 15px;
}
figure.snip1249 figcaption:before {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  z-index: 1;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  background-color: #067790;
  -webkit-transform: skew(-45deg) translateX(50%);
  transform: skew(-45deg) translateX(50%);
  border-right: 1px solid #067790;
}
figure.snip1249 .add-to-cart {
  display: inline-block;
  width: auto;
  border: 2px solid #20638f;
  padding: 0.4em 0.6em;
  color: #20638f;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
  border-radius: 100px;
}
figure.snip1249 .add-to-cart:hover {
  background-color: #20638f;
  color: #ffffff;
}
figure.snip1249 .price {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  z-index: 2;
  text-transform: uppercase;
  padding: 20px;
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
}
figure.snip1249 .price s {
  display: block;
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.8;
}
figure.snip1249:hover i,
figure.snip1249.hover i {
  opacity: 0.7;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip1249:hover h3,
figure.snip1249.hover h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
figure.snip1249:hover:before,
figure.snip1249.hover:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: skew(-45deg) translateX(-50%);
  transform: skew(-45deg) translateX(-50%);
}
figure.snip1249:hover:after,
figure.snip1249.hover:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: skew(-45deg) translateX(-75%);
  transform: skew(-45deg) translateX(-75%);
}






/* FOOTER */

.footer-dark {
  padding:30px 0;
  color: #fff;
  background-color:#067790;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px #A6A6A6;
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

